/* Add here all your CSS customizations */

.details
{
margin-left: 17px;
color:#2ba6cb;
}
.paragraph
{color:#000;}
.img-circle:hover{
    
    border-radius: 176px !important;
    opacity: .8 !important; 
}
.img-circle
{  
    border-radius: 176px !important;
	box-shadow: 3px 7px 5px #888888 !important;
	    width: 234px;}
	.img {
    margin: 5px;
    padding: 5px;
    border: 1px solid #B7D0DE;
    height: 85px;
    width: 214px;
    float: left;
    background-color: #DDE9FD;
    text-align: center;
}
.img-circle1
{  border: 6px solid #30368A !important;
    border-radius: 176px !important;
	box-shadow: 3px 7px 5px #888888 !important;}
	.img {
    margin: 5px;
    padding: 5px;
    border: 1px solid #B7D0DE;
    height: 85px;
    width: 214px;
    float: left;
    background-color: #fff;
    text-align: center;
}
.phonefix {
   padding: 4px;
    margin-top: -51px;
    color: #13541F;
    text-align: right;
    font-weight: bold;
}
.p-style
{color:#000;}
.socialmedia{margin-left: 19PX;}
.btn-style1{margin-left: 38px}
.ul-style1{margin-top: 21px;}

.table-condensed > thead > tr > th, .table-condensed > tbody > tr > th, .table-condensed > tfoot > tr > th, .table-condensed > thead > tr > td, .table-condensed > tbody > tr > td, .table-condensed > tfoot > tr > td{text-align: center !important;}
